<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Utilis.listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	<classes>
	<class name ="Test.TC_001_Signup"/>
	<class name ="Test.TC_002_Login"/>
	<class name ="Test.TC_003_SearchHotelTCexecution"/>
	<class name ="Test.TC_004_SelectHotelTC"/>
	<class name ="Test.TC_005_BookHotelTC"/>
	<class name ="Test.TC_006_BookingConfirmationtc"/>
	<class name ="Test.TC_007_BookedItenararyTC"/>
	<class name ="Test.TC_008_MenuitemsTC"/>
	<class name ="Test.TC_009_Logout"/>
	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
